.deepfake-container {
    background: white;
    padding: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .deepfake-title {
    color: #23329B;
    font-weight: bold;
    font-size: 32px;
  }
  
  .deepfake-image img {
    max-width: 100%;
    height: auto;
  }
  
  .deepfake-section {
    padding: 25px;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .deepfake-section h2 {
    color: #23329B;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .deepfake-section ul {
    padding-left: 20px;

  }
  
  .deepfake-section ul li {
    margin-bottom: 10px;
    font-size: 17px;
  }
  