.element51-container {
  padding: 20px;
  margin-bottom: 200px;
}

.element51-heading {
  margin-top: 45px;
  font-size: 30px;
  margin-bottom: 10px;
  font-family: 'Gilroy-Bold', sans-serif;
}

.element51-paragraph {
  margin-top: 20px;
  font-size: 15px;
  color: #333;
  margin-bottom: 20px;
  font-family: 'Gilroy-Bold', sans-serif;
}
