.element11-container {
  background-color: #23329B;
  background-size: cover;
  background-position: center;
  height: 90vh; // Increased height
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.element11-heading {
  font-size: 26px;
  margin-bottom: 20px;
  text-align: left;
}

.element11-paragraph {
  font-size: 18px;
  color: #f0f0f0;
  text-align: left;
}

.element11-subheading {
  font-size: 18px;
  font-weight: bold;
}

.element11-subparagraph {
  font-size: 14px;
  color: white;
}

.testimonial-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
}

.testimonial-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.testimonial-btn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  color: #23329B;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;

  &:hover {
    background: White;
    color: #23329B;
  }
}

@media (max-width: 768px) {
  .element11-heading {
    font-size: 22px; // Smaller font size on mobile
  }

  .testimonial-image {
    width: 120px;
    height: 120px;
  }

  .element11-paragraph {
    font-size: 16px;
  }

  .element11-subheading {
    font-size: 16px;
  }

  .testimonial-btn {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}
